@charset "UTF-8";
.image1 {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    /* [disabled]nav-left: auto; */
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    text-align: right;
}
